  

	@import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Poppins:wght@300;400;500&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700&family=Rubik+Burned&family=Rubik+Distressed&display=swap");
  
  body {
	background: #bf00ff;
	text-decoration: none !important;
	font-family: "Poppins", sans-serif !important;
	-webkit-tap-highlight-color: transparent;
	font-weight: 500;
	margin: 0;
  }
  
  .lop {
	width: 100%;
	height: auto;
	background-color: #fff;
	overflow: hidden;
	margin: 10% auto 0;
	position: sticky;
	border-radius: 40px;
	border: none;
	z-index: 9;
  }
  
  .loop {
	width: 100%;
	height: 100%;
	background-color: #fff;
	overflow: hidden;
	margin: 10% auto 0;
	position: relative;
	border-radius: 40px;
	border: none;
	z-index: 9;
  }
  
  .f {
	color: #333;
	width: 90%;
	font-weight: 600;
	font-size: 95%;
	text-align: left;
	margin: 5% 5% 0%;
  }
  
  .fe {
	color: #fff;
	width: 90%;
	font-weight: 600;
	font-size: 19px;
	text-align: left;
	position: fixed;
	margin: -8% 5% 0%;
  }
  
  .ff {
	font-weight: 400;
	color: #555;
	font-size: 80%;
	width: 90%;
	text-align: left;
	margin: 0% 5% 2%;
	display: inline-block;
  }
  
  .lainnya {
	float: right;
	font-size: 80%;
	margin-top: -8%;
	margin-right: 3%;
	margin-bottom: 3%;
	text-decoration: none;
	display: inline-block;
	color: #bf00ff;
	background-color: #eee;
	z-index: 0;
	width: 23%;
	height: auto;
	text-align: center;
	border-radius: 20px;
	padding: 4px;
	font-weight: 500;
  }
  
  .lainnya:hover {
	text-decoration: none;
	display: inline-block;
	color: #fff;
	background-color: #bf00ff;
	transition-duration: 0.2s;
	-webkit-tap-highlight-color: transparent;
	transition: background-color 0.1s ease-in-out;
	text-decoration: none;
  }
  
  .foto {
	height: 45px;
	object-fit: fit;
	width: 45px;
	border-radius: 100px;
	position: absolute;
	margin: 5% 75% 0%;
	border: 2px solid #eaecf0;
	background-color: #eaecf0;
  }
  
  .ribbon3 {
	position: relative;
	display: inline-block;
	bottom: -11px;
	left: -3px;
	width: 38px;
	padding: 0px 0px;
	background: #bf00ff;
	border-radius: 20px 20px 20px 0;
	box-shadow: -1px 2px 3px rgba(0,0,0,.3);
  }
  
  .ribbon3:before, .ribbon3:after {
	content: "";
	position: absolute;
	z-index: -9;
  }
  
  .ribbon3:before {
	width: 7px;
	height: 100%;
	top: 40%;
	left: 0px;
	padding: 0 0 7px;
	background: #bf00ff;
	border-radius: 100px 0 0 100px;
  }
  
  .ribbon3:after {
	width: 4px;
	height: 6px;
	bottom: -6px;
	left: 3px;
	background: #000;
	border-radius: 5px 0 0 5px;
  }
  
  .menu-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
	margin: 0 auto;
  }
  
  .menu-item1 {
	text-align: center;
	padding: 10px;
  }
  
  .igm1 {
	width: 50px;
	height: 50px;
	margin-bottom: 5px;
	border-radius: 15px;
  }
  
  .menu-item1 span {
	font-size: 14px;
	color: #000;
	display: block;
	text-decoration: none;
  }
  
  .mySlides {
	display: none;
  }
  
  .cardoo {
	width: 90%;
	height: 95px;
	padding: 10px;
	position: relative;
	text-align: left;
	border-radius: 15px;
	margin: 23% auto 0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	background: linear-gradient(to top, #590276 20%, #bf00ff 80%);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
  }
  
  .cardoo a {
	cursor: none;
  }
  
  .cardoo5 {
	background-color: #eaecf0;
	text-align: left;
	border-radius: 15px;
	margin-bottom: 4%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	user-select: none;
  }
  
  .cardoo5 a {
	cursor: none;
  }
  
  .slider4 {
	width: 100%;
	height: 35px;
	overflow: hidden;
	text-align: left;
  }
  
  .slider4 .slide4 {
	height: 37px;
	line-height: 40px;
	color: #000;
	overflow: hidden;
  }
  
  .slider4-2 .slide4 {
	animation: slide4-2 12s ease-in-out infinite;
  }
  
  @keyframes slide4-2 {
	100% {
		transform: translateY(0);
	}
  
	50%,
	95.4545454545% {
		transform: translateY(-40px);
	}
  
	0%,
	45.4545454545% {
		transform: translateY(0);
	}
  }
  
  .topup {
	width: 32%;
	height: auto;
	float: right;
	padding: 10px;
	margin-top: 10px;
	text-align: center;
	border: 0px solid #fff;
	margin-left: 0px;
  }
  
  .imgs7 {
	padding: 0px;
	margin-bottom: -3.5px;
	border-radius: 10px;
	padding: 5px;
	border: 2px solid #fff;
	width: 120%;
	height: auto;
  }
  
  .Onsyi-Row {
		display: flex;
		overflow-x: auto;
		width: 100%;
		padding-right: 0px;
		margin-bottom: 0px;
		white-space: nowrap; /* Prevent wrapping to the next line */
	}
  
	.item-nearby-row {
		box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
		border-radius: 15px;
		background: #fff;
		width: 120px;
		height: auto;
		margin-left: 15px !important;
		margin-right: 0px !important;
		margin-top: 1% !important;
		margin-bottom: 20px !important;
		min-width: 100px;
		max-width: 120px;
		text-decoration: none;
		-webkit-tap-highlight-color: transparent;
		flex: 0 0 auto; /* Fix flex-shrink issue */
		vertical-align: top; /* Align cards at the top */
	}
  
	.item-nearby-link {
		width: 100%;
		text-decoration: none;
		color: black;
		text-decoration-line: none !important;
	}
  
	.item-nearby-image {
		border-radius: 10px !important;
		width: 92% !important;
		margin-top: 5% !important;
		margin-bottom: 3% !important;
		margin-right: 4% !important;
		margin-left: 4% !important;
	}
  
	.item-nearby-title {
		margin-top: 3px;
		color: #333;
		display: block;
		font-size: 15px !important;
		font-weight: 500;
		width: 95%;
		text-align: left;
		margin-left: 5%;
		background: #;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-decoration: none !important;
	}
  
	.item-nearby-distance {
		margin-left: 5%;
		margin-top: 2px;
		color: #4AAF4F;
		display: block;
		text-align: left;
		font-weight: bold;
		font-size: 12px !important;
		text-decoration: none !important;
	}
  
	.item-nearby-status {
		margin-bottom: 5px;
		margin-left: 5px;
		color: none;
		font-weight: bold;
		font-size: 11px !important;
	}
  
	.item-nearby-status-note {
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
		margin-left: 5%;
		width: 80% !important;
		text-align: center;
		margin-top: -90%;
		border-radius: 25px;
		opacity: 65%;
		height: auto;
		background: linear-gradient(to top, #ff512f 20%, #ff0000 80%);
		color: white;
		font-size: 60%;
		display: inline-block;
		overflow: hidden;
	}
  
	.item-nearby-status-open {
		margin-top: -137%;
		float: left;
		margin-left: -3%;
		border-radius: 15px 0px 15px 0px;
		opacity: 85%;
		width: 50%;
		height: 20px;
		background: #ED2739;
		color: white;
		font-size: 12px;
		display: none !important;
		overflow: hidden;
		font-weight: bold;
		text-align: center;
	}
  
  a {
	text-decoration: none !important;
  }
  
	  /* CSS Slider */
  .slider-container {
	width: 100%;
	overflow: hidden;
  }
  
  .slider {
	display: flex;
	animation: slide-animation 9s infinite;
  }
  
  .slide {
	margin-top: 0%;
	min-width: 100%;
	box-sizing: border-box;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .igm {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	position: relative;
	border-radius: 15px;
  }
  
  @keyframes slide-animation {
	0%,
		33.33% {
		transform: translateX(0%);
	}
  
	33.33%,
		66.66% {
		transform: translateX(-100%);
	}
  
	66.66%,
		100% {
		transform: translateX(-200%);
	}
  }
  
  .box1 {
	width: auto;
	overflow: auto;
	white-space: nowrap;
  }
  
  .img1 {
	margin-left: 5%;
	margin-bottom: 2%;
	width: 85%;
	height: auto;
    background: #bf00ff;
	border-radius: 15px;
  }
  
  #galeri ul {
	list-style: none;
  }
  
  #galeri li {
	display: inline;
	margin: 0px;
  }
  
  .ribbon {
	height: 110px;
	width: 130px;
	position: relative;
	margin-top: 15%;
	background: #fff;
	border-radius: 10px;
	text-transform: ; 
	color: white;
	padding: 2px;
	text-align: left;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  }
  
  .ribbon4 {
	position: absolute;
	top: 10px;
	left: -6px;
	font-family: 'dynapuff',cursive;
	width: 80%;
	font-size: 70%;
	padding: 2px 7px;
	background: #bf00ff;
	border-radius: 10px 0 20px 0;
	box-shadow: -1px 2px 3px rgba(0,0,0,.3);
  }
  
  .ribbon4:before, .ribbon4:after {
	content: "";
	position: absolute;
  }
  
  .ribbon4:before {
	width: 7px;
	height: 100%;
	top: 40%;
	left: 0px;
	padding: 0 0 7px;
	background: #bf00ff;
	border-radius: 0px 0 0 100px;
  }
  
  .ribbon4:after {
	width: 5px;
	height: 10px;
	bottom: -10px;
	left: 2px;
	background: black;
	border-radius: 5px 0 0 5px;
  }
  
  .wrap {
	width: 100%;
	height: 188px;
	position: absolute;
	top: -8px;
	left: 8px;
	overflow: hidden;
  }
  
  .wrap:before, .wrap:after {
	content: "";
	position: absolute;
  }
  
  .wrap:before {
	width: 40px;
	height: 8px;
	right: 100px;
	background: #;
	border-radius: 8px 8px 0px 0px;
  }
  
  .wrap:after {
	width: 8px;
	height: 40px;
	right: 0px;
	top: 100px;
	border-radius: 0px 8px 8px 0px;
  }
  
  @media (min-width: 500px) {
	.ribbons-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
  
	.ribbon {
		width: 48%;
	}
  }
  
  .tx {
	margin: 15% 4% 0%;
	font-weight: 500;
	font-size: 80%;
	z-index: 9;
	color: #000;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 99%;
  }
  
  .ttx {
	margin: 5% 4% 0%;
	font-weight: 400;
	font-size: 50%;
	z-index: 9;
	color: #E01861;
  }
  
  .ribbon5 {
	position: relative;
	color: white;
	top: 12%;
	left: -76.5%;
	width: 70%;
	font-size: 15px;
	font-weight: 600;
	padding: 5px 10px;
	background: #bf00ff;
	border-radius: 15px 15px 15px 0;
	box-shadow: -1px 2px 3px rgba(0,0,0,.3);
	text-decoration: none !important;
  }
  
  .ribbon5:before, .ribbon5:after {
	content: "";
	position: absolute;
  }
  
  .ribbon5:before {
	width: 7px;
	height: 100%;
	top: 35%;
	left: 0px;
	padding: 0 0 7px;
	background: #bf00ff;
	border-radius: 100px 0 0
  
  100px;
  }
  
  .ribbon5:after {
	width: 5px;
	height: 10px;
	bottom: -10px;
	left: 3px;
	background: black;
	border-radius: 5px 0 0 5px;
  }
  
  .Onsyi-Row1 {
	display: flex;
	overflow-x: scroll;
	width: 100%;
	padding-right: 20px;
  }
  
  .col-s5 {
	margin: 0 2% 0;
  }
  
  .OnsyiCard1 {
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	background: #fff;
	float: left;
	border-radius: 15px;
	width: 300px;
	height: 150px;
	margin-left: 3% !important;
	margin-right: 0% !important;
	margin-top: 2% !important;
	margin-bottom: 5% !important;
	display: inline-block;
	min-width: 200px;
	max-width: 300px;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
  }
  
  .OnsyiCard1:hover {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	transition: background-color 0.1s ease-in-out;
	text-decoration: none;
	color: white;
	transform: scale(1.04);
	transition: transform 0.2s ease-in-out;
  }
  
  .OnsyiImage1 {
	width: 45%;
	border-radius: 15px;
	margin: -10% 2% 0;
	overflow: hidden;
	float: left;
  }
  
  .OnsyiLogo1 {
	margin-top: 10%;
	float: left;
	margin-left: -47%;
	border-radius: 0px;
	opacity: 20%;
	width: 45%;
	background: black;
	color: #fff;
	font-size: 12px;
	display: none !important;
	overflow: hidden;
	text-align: center;
	font-weight: bold;
  }
  
  .OnsyiText-Judul1 {
	text-align: left;
	width: 45%;
	color: #000;
	font-size: 90%;
	font-weight: 600;
	margin-left: 52%;
	margin-top: -32%;
	text-decoration: none;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  }
  
  .thin1 {
	text-align: left;
	color: #000;
	opacity: 50%;
	font-size: 80%;
	font-weight: 400;
	margin-left: 52%;
	margin-top: -24%;
	text-decoration: none;
	display: inline-block;
  }
  
  .thin2 {
	text-align: left;
	color: #000;
	opacity: 50%;
	font-size: 80%;
	font-weight: 400;
	margin-left: 52%;
	margin-top: -18%;
	text-decoration: none;
	display: inline-block;
  }
  
  .OnsyiText-Harga1 {
	text-align: left;
	width: auto;
	color: #444;
	font-size: 85%;
	border-radius: 5px;
	font-weight: 600;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 8%;
	margin-top: -10%;
	margin-left: 52%;
  }
  
  .OnsyiNew1 {
	margin-top: 5%;
	float: left;
	margin-left: 52%;
	border-radius: 7px;
	opacity: 65%;
	width: auto;
	padding: 2px 5px;
	background: #777;
	color: #fff;
	font-size: 70%;
	display: inline-block;
	text-align: center;
	font-weight: bold;
  }
  
  .star1 {
	margin-top: -7%;
	float: right;
	margin-right: 3%;
	padding: 2px 5px;
	border-radius: ; width: auto;
	color: #000;
	font-size: 12px;
	display: inline-block;
	text-align: center;
	font-weight: 500;
  }
  
  .cart1 {
	margin: -10% 5% 0%;
	float: right;
	color: #fff;
	font-size: 17px;
	background: #bf00ff;
	border-radius: 100px;
	padding: 5px;
  }
  
  .ribbon6 {
	position: relative;
	color: white;
	top: 8px;
	left: -7px;
	width: 70%;
	font-size: 15px;
	font-weight: 600;
	padding: 5px 10px;
	background: #bf00ff;
	border-radius: 15px 15px 15px 0;
	box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
  }
  
  .ribbon6::before,
  .ribbon6::after {
	content: "";
	position: absolute;
  }
  
  .ribbon6::before {
	width: 7px;
	height: 100%;
	top: 35%;
	left: 0px;
	padding: 0 0 7px;
	background: #bf00ff;
	border-radius: 100px 0 0 100px;
  }
  
  .ribbon6::after {
	width: 5px;
	height: 10px;
	bottom: -10px;
	left: 3px;
	background: black;
	border-radius: 5px 0 0 5px;
  }
  
  .Onsyi-Row2 {
	display: flex;
	overflow-x: scroll;
	width: 100%;
	padding-right: 20px;
  }
  
  .OnsyiCard2 {
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	background: #FFF;
	float: left;
	border-radius: 15px;
	width: 170px;
	height: 270px;
	margin-left: 10% !important;
	margin-right: 10% !important;
	margin-top: 10% !important;
	margin-bottom: 5% !important;
	display: inline-block;
	min-width: 140px;
	max-width: 170px;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
  }
  
  .OnsyiCard2:hover {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	transition: background-color 0.1s ease-in-out;
	text-decoration: none;
	color: white;
	transform: scale(1.04);
	transition: transform 0.2s ease-in-out;
  }
  
  .OnsyiImage2 {
	width: 100%;
	border-radius: 15px;
	margin: -56% 0 0;
  }
  
  .OnsyiLogo2 {
	margin-top: 30%;
	float: none;
	margin-left: 0%;
	border-radius: 0px;
	opacity: 0.2;
	width: 100%;
	background: black;
	color: #FFF;
	font-size: 12px;
	display: inline-block;
	overflow: hidden;
	text-align: center;
	font-weight: bold;
  }
  
  .OnsyiText-Judul2 {
	text-align: left;
	width: 92%;
	color: #000;
	font-size: 90%;
	font-weight: 600;
	margin-left: 5%;
	margin-top: 5%;
	text-decoration: none;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  }
  
  .thin3,
  .thin4 {
	text-align: left;
	color: #000;
	opacity: 50%;
	font-size: 80%;
	font-weight: 400;
	margin-left: 5%;
	margin-top: -3%;
	text-decoration: none;
	display: inline-block;
  }
  
  .OnsyiText-Harga2 {
	text-align: left;
	width: 100%;
	color: #444;
	font-size: 85%;
	border-radius: 5px;
	font-weight: 600;
	text-decoration: none;
	display: none !important;
	margin-bottom: 8%;
	margin-top: 1%;
	margin-left: 5%;
  }
  
  .OnsyiNew2 {
	margin-top: 0%;
	float: right;
	margin-left: 50%;
	border-radius: 0px 0px 0px 15px;
	opacity: 0.95;
	width: 35%;
	padding: 0px 3px;
	background: #FF0000;
	color: #FFF;
	font-size: 70%;
	display: inline-block;
	text-align: center;
	font-weight: bold;
  }
  
  .star2 {
	margin-top: 0%;
	margin-bottom: 2%;
	float: left;
	margin-left: 3%;
	padding: 2px;
	background: none;
	color: #444;
	font-size: 12px;
	display: inline-block;
	text-align: center;
	font-weight: 500;
  }
  
  .cart2 {
	margin: -8% 10% 10%;
	float: right;
	color: #FFF;
	font-size: 17px;
	background: #00AA12;
	border-radius: 7px;
	padding: 5px;
  }
  
  .cardio {
	background: #FBFBFB;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	float: left;
	border-radius: 15px;
	width: 90%;
	height: 150px;
	margin-left: 4%;
	margin-right: 0px;
	padding-right: 10px;
	margin-top: 10%;
	min-width: 300px;
	max-width: 500px;
	overflow: hidden;
	display: inline-block;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
  }
  
  .image1 {
	height: 70%;
	float: left;
	width: auto;
    background: #bf00ff;
	margin-top: 5%;
	margin-left: 5%;
  }
  
  .titlee {
	background: #3F3D56;
	display: inline-block;
	padding: 0 15px 0;
	text-align: center;
	width: auto;
	border-radius: 10px;
	font-family: 'Poppins';
	font-weight: 500;
	margin-top: 11%;
	margin-left: 7%;
	color: #FFF;
	font-size: 90%;
	text-decoration: none;
  }
  
  .pprice {
	margin-top: -15%;
	font-family: 'Poppins';
	font-weight: 400;
	margin-left: 45%;
	color: #777;
	text-align: left;
	overflow: hidden;
	display: inline-block;
	font-size: 80% !important;
  }
  
  .bg {
	background-color: #bf00ff;
	width: 100%;
	margin: 0 auto;
	height: auto;
	border-radius: 0 0 70px 70px;
  }
  
  .imgic,
  .imgi {
	width: 15%;
	float: left;
	margin: 0;
	border-radius: 0px;
	padding: 10px;
	filter: invert(30%);
  }
  
  .cardos {
	height: auto;
	text-align: left;
	border-radius: 5px;
	margin-top: 0;
	user-select: none;
	width: 90%;
	margin-left: 5%;
	background-color: #FFF;
	border-bottom: 1px solid #777;
	padding: 10px;
  }
  
  .txt {
	margin: 5% 10% 0%;
	color: #333;
	font-size: 70%;
	font-weight: 600;
  }
  
  .fotoo {
	height: 45px;
	width: 45px;
	object-fit: fit;
	border-radius: 100px;
	margin: 5% 5% 0;
	border: 3px solid #F1F1F1;
	background-color: #EAECF0;
  }
  
  .edit {
	width: 10%;
	filter: invert(
  
  100%);
	float: right;
	padding: 5px;
	margin: 5% 8% 0;
	border-radius: 0px;
  }
  
  .name {
	margin: -12% 25% 0;
	font-weight: bold;
	display: inline-block;
	overflow: auto;
	white-space: nowrap;
	color: #FFF;
	font-size: 19px;
	width: 55%;
  }
  
  .hp {
	margin: -5% 25% 0;
	color: #FFF;
	font-size: 4.5vw;
	font-weight: 400;
  }
  
  .email {
	margin: 0% 25% 0;
	color: #FFF;
	font-size: 13px;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
  }
  
  .userr {
	width: 80px;
	height: auto;
	margin: 2% 25% 10%;
	border-radius: 15px;
  }
  
  .pro {
	margin: 0 5% 0;
	color: #000;
	font-size: 5vw;
	font-weight: 500;
  }
  
  .row4 {
	float: left;
	display: block;
	text-decoration: none;
	cursor: none;
	margin-top: 0%;
	padding: 0px;
	width: 100%;
	overflow: hidden;
  }
